body {
  font-family: "Open Sans", sans-serif;
  background: #d7fbf3;
}

h1 {
  color: #7358ec;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #7358ec;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #3dab92;
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

.btn {
  background: #3dab92;
  border: 1px solid #3dab92;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: #7358ec;
  border: 1px solid #7358ec;
  color: #fff;
  cursor: pointer;
}

.form-control {
  font-size: 15px;
}

.weather-description {
  margin-bottom: 14px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px;
}

.weather-app {
  padding: 20px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d7fbf3;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(64, 133, 104, 0.2);
}

.weather-temperature img {
  margin-right: 6px;
  height: 58px;
  width: 58px;
}

.weather-temperature strong {
  color: #000000;
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 0px;
}

.weather-temperature .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  color: #3dab92;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #7358ec;
}

.weather-forecast-temperature-min {
  opacity: 0.8;
}
